[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"
pyproj = "*"
arcgis = "*"

[packages]
couchbase = "*"
requests = "*"

[requires]
python_version = "3.6"
